In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_csv('http://video.udacity-data.com.s3.amazonaws.com/topher/2016/October/57fbe69d_diamonds/diamonds.csv', sep=',')
df

       Unnamed: 0  carat        cut  cut_ord color clarity  clarity_ord  price
0               1   0.51    Premium        4     F     VS1            4   1749
1               2   2.25       Fair        1     G      I1            1   7069
2               3   0.70  Very Good        3     E     VS2            5   2757
3               4   0.47       Good        2     F     VS1            4   1243
4               5   0.30      Ideal        5     G    VVS1            7    789
...           ...    ...        ...      ...   ...     ...          ...    ...
49995       49996   0.71      Ideal        5     H    VVS1            7   2918
49996       49997   0.43      Ideal        5     G    VVS2            6   1056
49997       49998   1.14    Premium        4     G     VS2            5   6619
49998       49999   1.01    Premium        4     E     VS2            5   6787
49999       50000   1.77    Premium        4     J     VS2            5   9428

[50000 rows x 8 columns]

In [3]:
df.to_csv('Diamonds.csv')

In [4]:
df1 = pd.read_csv('http://video.udacity-data.com.s3.amazonaws.com/topher/2016/October/57fbe6ac_new-diamonds/new-diamonds.csv', sep=',')

In [5]:
df1.to_csv('New_Diamonds.csv')